<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/css/infodata.css" rel="stylesheet">
  <link href="/css/arrows.css" rel="stylesheet">

  <% const page='info'; %>
  <% include ./parts/head.ejs %>
  <% include ./parts/more.ejs %>

  <!--τα paths εδώ ορίζονται ως προς το /public-->
  <script type="text/javascript" src="/js/hclass.js"></script>
  <script type="text/javascript" src="/js/hloader.js"></script>

  <%
  const income=funds.map(x=> x.income).reduce((total,x)=> total+x);
  const outgo=funds.map(x=> x.outgo).reduce((total,x)=> total+x);
  const balance=income-outgo;
  const pcent=function(amount, total) {return (amount/total)*100};
  const shaped=function(amount) {return parseFloat(amount).toFixed(2)};
  let articles=[];
  let title='';
  let className='';
  let amount='';
  let percent='';
  let icon=''; 
  let alterIcon=''; %>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <main>
    <div class="container">

  <% till=(!till)?from:till;
  title=`ΣΥΝΟΛΑ (${from}-${till})`;
  className='total';
  articles=[];
  articles.push({className:'income', title:'ΕΣΟΔΑ', alterIcon:'+', amount:shaped(income), percent:pcent(income, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income)}})});
  articles.push({className:'outgo', title:'ΕΞΟΔΑ', alterIcon:'-', amount:shaped(outgo), percent:pcent(outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.outgo)}})});
  articles.push({className:(income>outgo?'income':income<outgo?'outgo':'balance'), title:'ΥΠΟΛΟΙΠΟ', alterIcon:'=', amount:shaped(income-outgo), percent:pcent(income-outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income-x.outgo)}})}); %>
  <% include ./parts/section-head.ejs %>
  <% for (let i=0; i<articles.length; i++) {
    title=articles[i].title;
    className=articles[i].className;
    amount=articles[i].amount;
    percent=articles[i].percent;
    alterIcon=articles[i].alterIcon; 
    more=articles[i].more %>
    <% include ./parts/article.ejs %>    
  <% } %>
  <% include ./parts/section-foot.ejs %>

  <% title=`ΚΑΤΑΝΟΜΗ ΕΣΟΔΩΝ (${shaped(income)} €)`;
  className='income'; %>
  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==1) continue;
    title=genre.name;
    className='income';
    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    percent=pcent(amount, income).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } %>
  <% include ./parts/section-foot.ejs %>

  <% title=`ΚΑΤΑΝΟΜΗ ΕΞΟΔΩΝ (${shaped(outgo)} €)`;
  className='outgo'; %>
  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==2) continue;
    title=genre.name;
    className='outgo';
    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    percent=pcent(amount, income).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } %>
  <% include ./parts/section-foot.ejs %>

  <% title=`ΚΑΤΑΝΟΜΗ ΥΠΟΛΟΙΠΟΥ (${shaped(balance)} €)`;
  className='balance'; %>
  <% include ./parts/section-head.ejs %>
  <% for (fund of funds) {
    title=fund.name;
    className=(fund.income>fund.outgo)?'income':(fund.income<fund.outgo)?'outgo':'balance';
    percent=pcent(fund.income-fund.outgo, balance).toFixed(0)+'%';
    amount=shaped(fund.income-fund.outgo);
    icon=fund.icon;
    alterIcon=fund.name.substr(0,1);
    more=[{name:'ΕΣΟΔΑ', amount:shaped(fund.income)},{name:'ΕΞΟΔΑ', amount:shaped(fund.outgo)}]; %>
    <% include ./parts/article.ejs %>    
  <% } %>
  <% include ./parts/section-foot.ejs %>


<% class HDate {
  constructor() {
  }
  static raw(date) {return date.substr(6,4)+date.substr(3,2)+date.substr(0,2);}

  static year(rawDate) {return parseInt(rawDate.substr(0,4));}
  static month(rawDate) {return parseInt(rawDate.substr(4,2));}
  static day(rawDate) {return parseInt(rawDate.substr(6,2));}

  static year366(year) {return (year%4===0 && year%100!==0) || (year%100===0 && year%400===0)?true:false;}
  static maxDay(month, year=null) {return (month===2 && HDate.year366(year))?29:[31,28,31,30,31,30,31,31,30,31,30,31][month-1];}

  static days(from, till) {
    let retval=0;
    for (let y=HDate.year(from); y<=HDate.year(till); ++y)
      retval+=HDate.year366(y)?366:365;
    
    retval-=HDate.day(from)-1;
    for (let m=1; m<HDate.month(from); ++m)
      retval-=HDate.maxDay(m, HDate.year(from));

    retval-=HDate.maxDay(HDate.month(till), HDate.year(till))-HDate.day(till);
    for (let m=HDate.month(till)+1; m<=12; ++m)
      retval-=HDate.maxDay(m, HDate.year(till));

    return retval;
  }
} %>

  <% title=`ΔΙΑΚΥΜΑΝΣΗ ΥΠΟΛΟΙΠΟΥ`;
  className='graph'; %>
  <% include ./parts/section-head.ejs %>

    <% let min=max=current=0;
    for (date of dates) { 
      current+=date.amount;
      min=(current<min?current:min);
      max=(current>max?current:max);
    }
    let dayWidth=360/HDate.days(HDate.raw(from), HDate.raw(till));
    let curr=0;
    let x=y=0;
    let points='';
    for (date of dates) {
      curr+=date.amount;
      x=Math.floor(HDate.days(HDate.raw(from), date.date)*dayWidth);
      y=Math.floor(240-(240*Math.abs(curr)/Math.abs(max-min)));
      points+=`${x},${y} `;
    } %>

    <svg height="240" width="360">
    <% for (let i=11; i>0; i--) { %>
      <line x1="0" y1="<%- i*20 %>" x2="360" y2="<%- i*20 %>" style="stroke:rgb(128,128,128);stroke-width:1" />
      <line x1="<%- i*30 %>" y1="0" x2="<%- i*30 %>" y2="240" style="stroke:rgb(128,128,128);stroke-width:1" />
      <polyline points="<%- points %>" style="fill:none;stroke:black;stroke-width:1" />
    <% } %>
    </svg>
  <% include ./parts/section-foot.ejs %>

    </div>
  </main>

  <footer class="info">
    <% include ./parts/footer.ejs %>
  </footer>
</body>
</html>